.header .active {
  font-weight: 900; }

.image-preview {
  display: inline-block; }
  .image-preview img {
    height: 200px;
    width: 200px; }
  .image-preview video {
    height: 200px;
    width: 200px;
    vertical-align: middle;
    background-color: black; }

.black {
  color: black; }

.topic {
  text-align: center; }
